.Card {
  border: 1px solid #3b3b3b;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 114px;
  padding: 0 30px;
}
.Card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    90.21deg,
    rgba(242, 57, 11, 0.32) 0.07%,
    rgba(24, 151, 217, 0.32) 99.93%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
}
.Card:hover::after {
  opacity: 1;
}

.bgWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.bg {
  display: block;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 18px;
  line-height: 22px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -1.7rem;
  right: 0;
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='137' height='19' viewBox='0 0 137 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9.5H136M136 9.5L127.447 1M136 9.5L127.447 18' stroke='white'/%3E%3C/svg%3E");
  opacity: 0;
  transform: translateX(-30%);
  transition: transform 0.3s, opacity 0.3s;
}

.Card:hover .title::after {
  opacity: 1;
  transform: translateX(0);
}

.icon {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .Card {
    padding: 30px 60px;
    justify-content: flex-start;
  }
  .title {
    font-size: 18px;
    line-height: 22px;
  }

  .icon {
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .Card {
    padding: 60px 95px 60px 60px;
    height: 224px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
  }

  .icon {
    max-width: 100px;
    max-height: 100px;
    margin-right: 40px;
  }
}
