/* global styles */
p {
    padding: 0;
    margin: 0;
}

.BlogContainer {
    display: flex;
    flex-direction: row;
}

/* global blog */
.BlogCardContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    height: 100%;
    padding-top: 6%;
}

.BlogCard:nth-child(2n+1) {
    margin-bottom: 6%
}

.BlogCard:nth-child(2n) {
    margin-top: 5%
}

/* card */
.CardContainer {
    max-width: 488px;
    max-height: 722px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardImageContainer {
    display: block;
    width: 100%;
    position: relative;
}

.CardContainer:hover {
    background: linear-gradient(270deg, #0da6f241 0%, #f23b0d38 100%);
    cursor: pointer;
}

.CardImage {
    display: block;
    width: 100%;
}

.CardImage__filters {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.54);
}

.CardBody__title {
    margin: 20px 0 10px;
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.CardBody__text {
    margin-bottom: 5%;
    font-size: 18px;
    color: white;
}

/* filters */
.Filter__containerBtn {
    width: 100%;
    margin: 10px 5px 10px 0;
    padding: 5px;
    padding-left: 10px;
    max-width: 160px;
    max-height: 40px;
    border-radius: 40px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    flex-basis: content;
}

.Filter__containerBtnDiscard {
    margin: 10px 5px;
    padding: 5px;
    max-width: 160px;
    max-height: 40px;
    border-radius: 40px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    flex-basis: content;
}

.Filter__text {
    margin: 0 2%;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: white;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.Filter__iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Filter__icon {
    font-size: 25px;
    margin-right: 5px;
}

/* sidebar  */
.Sidebar {
    background: no-repeat, linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url("../../images/blog/blog_sideBar_bg.jpg");
    background-size: cover;
    height: 100vh;
    max-width: 25%;
    position: sticky;
    top: 0;
    left: 0;
}

.Sidebar__infoContainer {
    padding: 25% 5% 0;
}

.Sidebar__infoTitle {
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    color: #F2F2F2;
}

.Sidebar__infoText {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.Sidebar__infoFilters {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 5% 0;
}

.Sidebar__filters {
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Sidebar__filtersDiscard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Sidebar__filtersInnerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* socails  */
.Social {
    margin-bottom: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Social__title {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 60px;
}

.Social__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Social__linkContainer {
    border: none;
    outline: none;
    background-color: transparent;
}

.Social__linkInnerContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Social__iconContainer {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.Social__icon_insta {
    color: #922559;
    height: 100%;
    width: 100%;
}

.Social__icon_twi {
    color: #7ABCED;
    height: 100%;
    width: 100%;
}

.Social__icon_hovered {
    height: 100%;
    width: 100%;
    color: white;
}

.Social__icon_fb {
    color: #18ADFE;
    height: 100%;
    width: 100%;
}

.Social__icon_linkin {
    color: #0A66C2;
    height: 100%;
    width: 100%;
}

.Social__icon_arrow {
    align-self: flex-end;
}

.Social__text {
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    color: white;
}

.Social__text_hovered {
    font-weight: 700;
    font-size: 22px;
    line-height: 23px;
    background-color: #ffffff;
    background-image: linear-gradient(270deg, rgba(13, 166, 242, 1), rgba(242, 59, 13, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* form  */
.ContactForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;
}

.ContactForm__infoContainer {
    flex-basis: 55%;
}

.ContactForm__infoTitle {
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    margin-bottom: 30px;
}

.ContactForm__infoText {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
    color: rgba(190, 190, 190, 1);
}

.ContactForm__infoAdress {
    font-weight: 600;
    font-size: 38px;
    line-height: 48px;
    border-bottom: 1px solid transparent;
}

.ContactForm__infoAdress:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ContactForm__formContainer {
    padding-left: 5%;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ContactForm__inputContainer {
    display: flex;
    flex-direction: column;
}

.ContactForm__input {
    cursor: pointer;
    color: rgba(190, 190, 190, 1);
    height: 40px;
    margin-bottom: 25px;
    background-color: black;
    border: 1px solid rgba(190, 190, 190, 1);
    outline: none;
}

.ContactForm__input:focus {
    border: 1px solid #0da6f27c;
    outline: none;
}

.ContactForm__policy {
    margin-bottom: 10px;
}
.ContactForm__policy:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ContactForm__btn {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    min-height: 40px;
    font-size: 20px;
    font-weight: 400;
    background: linear-gradient(270deg, #0da6f2 0%, #f23b0d 100%);
    color: white;
    transition: all 1.5s;
}

.ContactForm__btn:hover {
    background: white;
    color: black;
}

/*pagination item*/
.BlogPagination {
    margin: 10% 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.BlogPagination__Container {
    width: 40px;
    height: 35px;
    margin: 0 10px;
    border: 2px solid #747474;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-weight: 400;
}

.BlogPagination__Container:hover,
.BlogPagination__Container:focus {
    background: linear-gradient(270deg, #0da6f2 0%, #f23b0d 100%);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .BlogContainer {
        flex-direction: column;
    }

    .Sidebar {
        height: auto;
        max-width: 100%;
        position: initial;
    }

    .Sidebar__infoTitle {
        font-size: 32px;
    }

    .Sidebar__infoContainer {
        padding: 5% 8%;
    }

    .Sidebar__infoFilters {
        display: none;
    }

    .Sidebar__filters {
        padding: 2%;
    }

    .Sidebar__filtersInnerContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .Filter__containerBtn {
        padding: 0;
        margin: 5px 2px;
        width: 100%;
        max-width: 140px;
        font-size: 14px;
    }

    .Filter__containerBtnDiscard {
        padding: 0;
        margin: 5px 2px;
        width: 100%;
        max-width: 140px;
        font-size: 14px;
    }

    .Filter__icon {
        font-size: 16px;
        margin-right: 0;
    }

    .CardContainer {
        max-width: 400px;
    }

    .CardBody__text {
        font-size: 14px;
    }

    .Social__title {
        font-size: 32px;
    }

    .ContactForm__infoTitle {
        font-size: 32px;
    }

    .ContactForm__infoText {
        font-size: 14px;
    }

    .ContactForm__infoAdress {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .CardContainer {
        max-width: 320px;
    }

    .Sidebar__infoContainer {
        padding: 5% 10%;
    }

    .Sidebar__filters {
        padding: 2%;
    }

    .Sidebar__filtersInnerContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .Filter__containerBtn {
        padding: 0;
        margin: 5px 2px;
        width: 100%;
        max-width: 100px;
        justify-content: center;
    }

    .Filter__containerBtnDiscard {
        padding: 0;
        margin: 5px 2px;
        width: 100%;
        max-width: 100px;
    }

    .Sidebar__infoText {
        font-size: 14px;
    }

    .Filter__text {
        font-size: 14px;
    }

    .Social__text {
        font-size: 18px;
    }

    .Social__text_hovered {
        font-size: 18px;
    }

}

@media (max-width: 540px) {
    .Sidebar__infoContainer {
        padding: 5% 2%;
    }

    .Sidebar__filters {
        flex-wrap: wrap;
    }

    .Sidebar__filtersInnerContainer {
        flex-wrap: wrap;
    }

    .Sidebar__filtersDiscard {
        max-width: 100%;
    }

    .Filter__containerBtn {
        margin: 5px 1px;
        width: 30%;
        font-size: 12px;
    }

    .Filter__containerBtnDiscard {
        max-width: 100%;
        font-size: 12px;
        justify-content: center;
    }

    .Filter__text {
        text-align: center;
        width: auto;
    }

    .ContactForm {
        flex-direction: column;
    }

    .CardContainer {
        max-width: 100%;
    }

    .CardImage__filters {
        flex-wrap: wrap;
    }

    .Social__title {
        font-size: 24px;
    }

    .Social__container {
        flex-wrap: wrap;
    }

    .Social__linkContainer {
        width: 50%;
        margin-bottom: 5%;
    }

    .ContactForm__infoTitle {
        font-size: 24px;
        margin: 0;
    }

    .ContactForm__formContainer {
        padding: 0;

    }

    .BlogContainer {
        padding: 0 2%;
    }
}