.ContactUs__container {
  display: flex;

  flex-direction: column;
}
.ContactUs__col:nth-child(1) {
  flex-grow: 1;
}
.ContactUs__title {
  margin-top: 0;
  margin-bottom: 25px;
}
.ContactUs__text {
  color: #bebebe;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 34px;
}
.ContactUs__email {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-decoration: none;
  margin-bottom: 24px;
  display: block;
}

.ContactUs__email:hover {
  background: linear-gradient(90deg, #f3461b 0%, #0da6f2 97.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

.ContactUs__socialLinks {
  columns: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 60px;
}
.ContactUs__socialLinks li {
  line-height: 1.65;
  margin: 20px 0;
}
.ContactUs__socialLinks li:nth-child(1),
.ContactUs__socialLinks li:nth-child(4) {
  margin-top: 0;
}
.ContactUs__socialLinks li:nth-child(3),
.ContactUs__socialLinks li:nth-child(6) {
  margin-bottom: 0;
}
.ContactUs__socialLinks li:nth-last-child(-n + 3) {
  text-align: right;
}
.ContactUs__link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
.ContactUs__link:hover {
  background: linear-gradient(90deg, #f3461b 0%, #0da6f2 97.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  text-shadow: none;
}
.ContactUs__link[href=""] {
  color: #bebebe;
  cursor: default;
  opacity: 0.5;
}

@media (min-width: 992px) {
  .ContactUs__container {
    align-items: center;
    flex-direction: row;
  }
  .ContactUs__title {
    margin-bottom: 20px;
  }
  .ContactUs__text {
    max-width: 730px;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 25px;
  }
  .ContactUs__email {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 0;
  }
  .ContactUs__socialLinks li {
    margin: 88px 0;
  }
}
