.ContactUs__container {
  display: flex;
  flex-direction: column;
}
.ContactUs__col:nth-child(1) {
  flex-grow: 1;
}
.ContactUs__title {
  margin-top: 0;
  margin-bottom: 1.625rem;
}
.ContactUs__text {
  color: #bebebe;
  font-size: 0.875rem;
  line-height: 1.225;
  margin-top: 0;
  margin-bottom: 1.3em;
}
.ContactUs__email {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 1;
  letter-spacing: -0.01em;
  text-decoration: none;
  margin-bottom: 1.5em;
  display: inline-block;
}

.ContactUs__email:hover {
  background: linear-gradient(90deg, #f3461b 0%, #0da6f2 97.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

.ContactUs__contactsLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.875rem;
  row-gap: 1.85em;
}

.ContactUs__link {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}

.ContactUs__contactsLinks li:nth-child(even) .ContactUs__link {
  justify-content: flex-end;
}

.ContactUs__link img {
  margin-left: 1.2em;
  transform: translateX(0);
  transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ContactUs__link:hover img {
  transform: translateX(50%);
}

@media (min-width: 992px) {
  .ContactUs__container {
    align-items: flex-end;
    flex-direction: row;
  }
  .ContactUs__title {
    margin-bottom: 20px;
  }
  .ContactUs__text {
    max-width: 730px;
    font-size: 22px;
  }
  .ContactUs__email {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .ContactUs__contactsLinks {
    font-size: 22px;
    row-gap: 4em;
  }
}
