.Contacts {
  padding: 2.5rem 1rem 1.5rem 1rem;
}
.contact-us-wrapper {
  padding: 2.5rem 1rem 3.5rem;
}
@media (min-width: 992px) {
  .Contacts {
    padding: 8.75rem 1rem;
  }

  .contact-us-wrapper {
    padding: 1rem;
    padding-bottom: 10rem;
  }
}
