.FeatureCard {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
}

.FeatureCard__image {
  display: block;
  max-width: 100%;
  width: 36px;
}

.FeatureCard__text {
  width: auto;
  margin: 0;
  margin-left: 15px;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@media (min-width: 992px) {
  .FeatureCard {
    align-items: flex-start;
  }
  .FeatureCard__image {
    display: block;
    max-width: 100%;
    width: 80px;
  }
  .FeatureCard__text {
    width: auto;
    margin-left: 44px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: initial;
  }
}
