@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic");

*:focus {
  outline: 0;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.keyboard input:focus,
.keyboard button:focus,
.keyboard *[role="button"]:focus,
.keyboard a:focus {
  box-shadow: 0 0 0 2px #f2390b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef3b0e;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be503c;
}

::-moz-selection {
  background: #f2390b;
}
::selection {
  background: #f2390b;
}

html {
  font-family: sans-serif;
  /* scroll-behavior: smooth; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-weight: 300;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
  overflow-x: hidden;
}

body a {
  color: #d2d2d2;
  text-decoration-line: underline;
}

body svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}

@import "./layout.css";
@import "./styledLink.css";
@import "./container.css";
@import "./sectionWithText.css";
@import "./basic-block-styles.css";
@import "./headline.css";
@import "./contactUs.css";
@import "./contact.css";
@import "./languages.css";
@import "./langSelect.css";
@import "./hamburger.css";
@import "./navigationDrawer.css";
@import "./workCard.css";
@import "./WorkCards.css";
@import "./planCard.css";
@import "./planList.css";
@import "./FeatureCard.css";
@import "./modal.css";
