@import "~/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef3b0e;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be503c;
}

html {
  font-family: sans-serif;
  /* scroll-behavior: smooth; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-weight: 300;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
}

body a {
  color: #bebebe;
}

body svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}

@import "./layout.css";
@import "./container.css";
@import "./basic-block-styles.css";
@import "./headline.css";
@import "./contactUs.css";
@import "./contact.css";
@import "./languages.css";
@import "./langSelect.css";
@import "./hamburger.css";
@import "./navigationDrawer.css";
@import "./workCard.css";
@import "./workCardsList.css";
@import "./planCard.css";
@import "./planList.css";
