@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic");

*:focus {
  outline: 0;
}

.keyboard input:focus,
.keyboard button:focus,
.keyboard *[role="button"]:focus,
.keyboard a:focus,
.keyboard .vp-react-select__control--is-focused {
  box-shadow: 0 0 0 2px #f2390b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef3b0e;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be503c;
}

input:focus,
button:focus {
  outline-color: #ef3b0e;
}

::-moz-selection {
  background: #f2390b;
}
::selection {
  background: #f2390b;
}

html {
  font-family: sans-serif;
  /* scroll-behavior: smooth; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.65;
  color: #ffffff;
  overflow-x: hidden;
}

body figcaption,
body p {
  color: #bebebe;
}

body .InlineButton,
body a {
  color: #ffffff;
  text-decoration-line: none;
  font-weight: 500;
}

body .InlineButton:hover,
body figcaption > a:hover,
body p > a:hover,
body .languages a:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f3461b),
    color-stop(97.79%, #0da6f2)
  );
  background: linear-gradient(90deg, #f3461b 0%, #0da6f2 97.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body svg {
  display: inline-block;
  fill: currentColor;
  line-height: 1;
  stroke: currentColor;
  stroke-width: 0;
}

body .video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
body .video-wrapper .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.service-works-porfolio-button-container {
  margin-right: 1rem;
  text-align: right;
}
@media (min-width: 768px) {
  .service-works-porfolio-button-container {
    margin-right: 0;
  }
}
.service-works-porfolio-button {
  margin-top: 3rem;
  display: inline-block;
}

.fade-form-top-enter {
  opacity: 0;
  transform: translateY(-50%);
}
.fade-from-top-enter-done,
.fade-form-top-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-form-top-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-from-top-exit-done,
.fade-form-top-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 300ms, transform 300ms;
}

@import "./layout.css";
@import "./styledLink.css";
@import "./container.css";
@import "./sectionWithText.css";
@import "./basic-block-styles.css";
@import "./headline.css";
@import "./contactUs.css";
@import "./contact.css";
@import "./languages.css";
@import "./langSelect.css";
@import "./hamburger.css";
@import "./navigationDrawer.css";
@import "./workCard.css";
@import "./WorkCards.css";
@import "./planCard.css";
@import "./planList.css";
@import "./FeatureCard.css";
@import "./modal.css";
@import "./form-group.css";
@import "./form-button.css";
@import "./InlineButton.css";
@import "./ModalContactForm.css";
