.Headline {
  color: #ffffff;
  font-family: "Montserrat", "Arial", sans-serif;
}

h1.Headline {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
}

@media (min-width: 576px) {
  h1.Headline {
    font-size: 56px;
    line-height: 68px;
  }
}

@media (min-width: 768px) {
  h1.Headline {
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  h1.Headline {
    font-size: 100px;
    line-height: 122px;
  }
}

h2.Headline {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
}

@media (min-width: 576px) {
  h2.Headline {
    font-size: 40px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  h2.Headline {
    font-size: 56px;
  }
}

@media (min-width: 992px) {
  h2.Headline {
    font-size: 70px;
  }
}

h3.Headline {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
h4.Headline {
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: -0.02em;
}
h5.Headline {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
}

@media (min-width: 992px) {
  h3.Headline {
    font-size: 32px;
    line-height: 39px;
  }
  h4.Headline {
    font-size: 36px;
    line-height: 44px;
  }
  h5.Headline {
    font-size: 30px;
    line-height: 37px;
  }
}
