.LangSelect {
  line-height: 1;
  display: none;
  position: relative;
}
.LangSelect ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  margin-top: 10px;
  position: absolute;
  bottom: -180%;
  left: -20%;
  display: none;
  overflow: hidden;
}
.LangSelect ul::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.94);
}

.LangSelect ul.LangSelect--open {
  display: block;
}

.LangSelect li {
  line-height: 1;
  margin-bottom: 5px;
}

.LangSelect .LangSelect--currentLang {
  display: block;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.LangSelect a {
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

@media (min-width: 992px) {
  .LangSelect {
    display: block;
    padding-bottom: 10px;
  }
}
