.main.main--sidebar {
  display: flex;
  flex-direction: column;
}

.main.main--sidebar .site-hero {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main.main--sidebar .site-hero {
    flex-direction: row;
  }
  .main.main--sidebar .site-sidebar {
    flex: 1;
    min-height: 455px;
  }
  .main.main--sidebar .site-hero div {
    flex: 2 2;
  }
}

@media (min-width: 1660px) {
  .main.main--sidebar {
    flex-direction: row;
    align-items: flex-start;
  }
  .main.main--sidebar .site-sidebar {
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    max-width: 470px;
    min-height: 100vh;
  }
  .main.main--sidebar .site-content {
    flex: 4 4;
  }
}
