.NavigationDrawer {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  margin: 0;
}
.drawer-enter {
  opacity: 0;
  transform: translateY(-50%);
}
.drawer-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.drawer-exit {
  opacity: 1;
  transform: translateY(0);
}
.drawer-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 300ms, transform 300ms;
}

.NavigationDrawer__list {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #bebebe;
  padding: 90px 90px 30px 50px;
  margin: 0;
}
.NavigationDrawer__list > li {
  margin-bottom: 40px;
}
.NavigationDrawer__list > li:last-child {
  margin-bottom: 0;
}
.NavigationDrawer__list a,
.NavigationDrawer__list button {
  text-decoration: none;
  color: #bebebe;
  transition: color 0.5s;
}

.NavigationDrawer__list a {
  position: relative;
}

.NavigationDrawer__list button:hover,
.NavigationDrawer__list a:hover {
  color: #ffffff;
}

.NavigationDrawer__list a:hover .navigationDrawerArrow {
  opacity: 1;
  transform: translateX(0);
}

.navigationDrawerArrow {
  position: absolute;
  top: 110%;
  right: 0;
  margin-top: 5px;
  content: "";
  width: 45px;
  height: 1px;
  background-image: linear-gradient(
    270deg,
    #0da6f2 15.37%,
    #209ddf 48.05%,
    #f3461b 61.31%,
    #f2390b 100.18%
  );
  transition: 0.2s;
  opacity: 0;
  transform: translateX(-5%);
}

.navigationDrawerArrow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #0da6f2;
  transform-origin: 100% 0;
  transform: rotateZ(25deg);
  /* opacity: 0; */
}
.navigationDrawerArrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 1px;
  background-color: #0da6f2;
  transform-origin: 100% 0;
  transform: rotateZ(-25deg);
  /* opacity: 0; */
}

.NavigationDrawer__list ul {
  margin-top: 25px;
  list-style: none;
}
.NavigationDrawer__list ul li {
  margin-bottom: 10px;
}
.NavigationDrawer__list ul li:last-child {
  margin-bottom: 0;
}
.NavigationDrawer__list ul button .NavigationDrawer__list ul a {
  font-size: 18px;
  line-height: 22px;
  color: #c2c2c2;
}

.NavigationDrawer__soc-links {
  list-style: none;
  display: flex;
  margin-bottom: 40px;
}
.NavigationDrawer__soc-links li a {
  font-size: 18px;
  line-height: 21px;
  color: #bebebe;
  transition: color 0.3s ease-in;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavigationDrawer__soc-links li a:hover {
  color: #ffffff;
}
.NavigationDrawer__dropdown {
  cursor: pointer;
}
.NavigationDrawer__dropdownButton {
  border: none;
  padding: 0;
  background-color: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
}
.NavigationDrawer__childList {
  display: none;
  padding-left: 15px;
}
.NavigationDrawer__childList li a {
  color: #c2c2c2;
}

.NavigationDrawer__childList.NavigationDrawer__open {
  display: block;
}

.NavigationDrawer .NavigationDrawer__langs {
  position: relative;
  top: auto;
  left: auto;
  padding: 0 90px 0 50px;
  display: block;
}

@media (min-width: 992px) {
  .NavigationDrawer {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    min-width: 388px;
  }
}
