.PlanCard {
  border: 1px solid #747474;
  box-sizing: border-box;
  padding: 20px 20px 35px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  min-height: 640px;
  align-items: flex-start;
}

.PlanCard__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0 10px;
}

.PlanCard__button button {
  font-size: 14px !important;
}

.PlanCard__subTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #747474;
}

.PlanCard__list {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
  margin: 20px 0 35px;
  padding: 0;
}

.PlanCard__item {
  margin-bottom: 25px;
}
.PlanCard__item:last-child {
  margin-bottom: 0;
}

.PlanCard__item::before {
  content: url("../images/check.svg");
  margin-right: 10px;
}
.PlanCard__button {
  margin-top: auto;
}

@media (min-width: 992px) {
  .PlanCard {
    padding: 25px 20px 20px;
  }

  .PlanCard__title {
    font-size: 32px;
    line-height: 39px;
    margin: 20px 0;
  }

  .PlanCard__subTitle {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 20px;
    color: #bebebe;
    border-bottom: 1px solid #747474;
    min-height: 44px;
  }

  .PlanCard__list {
    font-size: 16px;
    line-height: 20px;
    max-height: 265px;
    overflow: auto;
    scrollbar-width: none;
  }

  .PlanCard__list::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
  }

  .PlanCard__button button {
    font-size: 16px !important;
  }
}
