@import "./carousel.css";

.PlanList__list {
  display: flex;
  flex-wrap: wrap;
}

.PlanList__button-container {
  display: flex;
}

.PlanList__button {
  margin-top: 33px;
  margin: auto;
}

@media (min-width: 992px) {
  .PlanList__button {
    margin-top: 66px;
  }
}
