.SectionWithText {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin: 0;
  padding: 177px 15px 213px 15px;
  position: relative;
  overflow: hidden;
}

.SectionWithText__outer {
  position: static;
}

.SectionWithText__outer > * {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.SectionWithText__box {
  position: absolute;
  width: 67.94px;
  height: 69.07px;
}

.SectionWithText__box--box-TopLeft {
  top: 12px;
  left: -25px;
}
.SectionWithText__box--box-TopRight {
  top: 12px;
  right: 8px;
}
.SectionWithText__box--box-BottomLeft {
  bottom: 12px;
  left: 7px;
}
.SectionWithText__box--box-BottomRight {
  bottom: 12px;
  right: -25px;
}

.SectionWithText__linkContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

@media (min-width: 992px) {
  .SectionWithText {
    font-size: 60px;
    line-height: 73px;
    padding: 319px 15px 177px 15px;
  }
  .SectionWithText__outer > * {
    font-size: 60px;
    line-height: 73px;
  }
  .SectionWithText__linkContainer {
    margin-top: 106px;
  }
  .SectionWithText__box {
    width: 110.06px;
    height: 111.89px;
  }

  .SectionWithText__box--box-TopLeft {
    top: 23px;
    left: -39px;
  }
  .SectionWithText__box--box-TopRight {
    top: 23px;
    right: 15px;
  }
  .SectionWithText__box--box-BottomLeft {
    bottom: 15px;
    left: 18px;
  }
  .SectionWithText__box--box-BottomRight {
    bottom: 15px;
    right: -39px;
  }
}
