.reviews {
  display: flex;
}

.review {
  display: flex;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  padding: 0 15px;
}

.meta a {
  color: #ffffff;
}

.review .meta a:hover {
  background: transparent;
  -webkit-text-fill-color: currentColor;
}

.nameAndPos {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  margin: 0;
  margin-bottom: 12px;
  width: auto;
}

.thumbnail {
  max-width: 171px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 13px;
}

.thumbnail img {
  pointer-events: none;
}

.noImage {
  width: 100%;
  height: auto;
  pointer-events: none;
  max-width: 170px;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

.company {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  max-width: 710px;
}

.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}

.readMoreButton {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.readMoreButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f3461b),
    color-stop(97.79%, #0da6f2)
  );
  background: linear-gradient(90deg, #f3461b 0%, #0da6f2 97.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.closeModalButton {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modalInner .content {
  margin-bottom: 30px;
}

.modalInner .nameAndPos {
  text-align: center;
  width: 100%;
}

.modal {
  position: relative;
}

@media (min-width: 1200px) {
  .review {
    align-items: flex-start;
    flex-direction: row;
  }

  .nameAndPos {
    text-align: left;
  }

  .company {
    text-align: left;
  }

  .meta {
    max-width: 220px;
    margin-right: 0;
  }

  .thumbnail {
    margin: 0 0 17px 0;
  }

  .content {
    text-align: left;
  }

  .modalInner .nameAndPos {
    text-align: left;
    width: 100%;
  }
}
