.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.notFoundCode {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 2;
  background: linear-gradient(90deg, #f3461b 0%, #0da6f2 97.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
  margin: 0;
}

@media (min-width: 768px) {
  .container {
    margin-top: 15vh;
  }

  .notFoundCode {
    font-size: 250px;
    line-height: 1.5;
  }
}
