.About {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 15px 35px;
}
.title {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 2;
  margin: 0;
}
.imageCard {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.image {
  display: block;
  max-width: 100%;
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-top: 11px;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .About {
    padding: 211px 15px 112px;
  }
  .imageCard {
    margin-bottom: 48px;
  }
  .text {
    margin-top: 28px;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
  }
}
