.menu {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  margin: 0;
}
.navigation {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  padding: 90px 90px 30px 50px;
  margin: 0;
}
.navigation > li {
  margin-bottom: 40px;
}
.navigation > li:last-child {
  margin-bottom: 0;
}
.navigation a,
.navigation button {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
}
.navigation button:hover,
.navigation a:hover {
  opacity: 1;
}
.navigation ul {
  margin-top: 25px;
  list-style: none;
}
.navigation ul li {
  margin-bottom: 10px;
}
.navigation ul li:last-child {
  margin-bottom: 0;
}
.navigation ul button .navigation ul a {
  font-size: 18px;
  line-height: 22px;
  color: #c2c2c2;
}

.socialLinks {
  list-style: none;
  display: flex;
  margin-bottom: 40px;
}
.socialLinks li a {
  font-size: 18px;
  line-height: 21px;
  color: #bebebe;
  transition: color 0.3s ease-in;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialLinks li a:hover {
  color: #ffffff;
}
.dropdown {
  cursor: pointer;
  opacity: 0.7;
}
.dropdownButton {
  border: none;
  padding: 0;
  background-color: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
}
.childList {
  display: none;
  padding-left: 15px;
}
.childList.open {
  display: block;
}

.menu .langs {
  position: relative;
  top: auto;
  left: auto;
  padding: 0 90px 0 50px;
  display: block;
}

@media (min-width: 992px) {
  .menu {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    min-width: 388px;
  }
}
