.container {
  display: flex;
  flex-direction: column;
}
.container .title {
  text-align: center;
  font-size: 24px;
}
.container p {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.form {
  margin: 0 auto;
}
.actions p {
  font-weight: 300;
}
body .actions a {
  font-weight: normal;
  color: #ffffff;
}

@media (min-width: 769px) {
  .container .title {
    font-size: 24px;
    max-width: 75%;
    margin: 0 auto;
  }
  .container p {
    max-width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container .title {
    max-width: 80%;
    font-size: 56px;
    line-height: 85px;
    margin-bottom: 35px;
  }
  .container p {
    max-width: 80%;
    margin-bottom: 35px;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .formGroups {
    display: flex;
    width: 100%;
  }
  .actions {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  .actions span {
    flex: 3 3 700px;
  }
  .actions button {
    flex: 1 1 210px;
  }
  .actions p {
    max-width: initial;
    width: auto;
    display: inline-block;
    text-align: left;
  }
}
