@import "~/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap&subset=cyrillic");
@import "./basic-block-styles.css";
html {
  font-family: sans-serif;
  /* scroll-behavior: smooth; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-weight: 300;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
}

.main.main--sidebar {
  display: flex;
  flex-direction: column;
}

.contact-us-wrapper {
  padding: 43px 15px 12px 15px;
}

@media (min-width: 1660px) {
  .main.main--sidebar {
    flex-direction: row;
    align-items: flex-start;
  }
  .site-sidebar {
    flex: 1;
    position: sticky;
    top: 0;
    left: 0;
  }
  .contact-us-wrapper {
    padding: 15px 15px 169px 15px;
  }
  .site-content {
    flex-grow: 2;
  }
}

a {
  color: #bebebe;
}
