.container {
  margin: 0;
  max-width: 120px;
  width: 100%;
  margin-bottom: 20px;
}

.icon {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media (min-width: 992px) {
  .container {
    min-width: 160px;
  }

  .title {
    font-size: 18px;
    line-height: 22px;
  }
}
