.container {
  margin: 0;
  flex: 1 1 120px;
  margin-bottom: 20px;
}

.icon {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 0.5em;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .container {
    flex: 1 1 160px;
  }

  .title {
    font-size: 1.125rem;
  }
}
