.info-badge__container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 200;
}

@media (min-width: 500px) {
  .info-badge__container {
    bottom: 10vh;
  }
}

.info-badge__content {
  padding: 1rem 0.5rem;
  background-color: #ef3b0e;
  font-size: 1rem;
  line-height: 1.65;
  display: flex;
  align-items: flex-start;
  max-width: 320px;
}
.info-badge__content a {
  color: inherit;
}

.info-badge__closeButton {
  padding-top: 0.25rem;
  margin-right: 0.5rem;
  background-color: unset;
  border: unset;
  font-size: 1rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.25s;
}
.info-badge__closeButton:hover {
  color: black;
}

.info-badge-enter {
  opacity: 1;
  transform: translateX(80%);
}
.info-badge-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s, transform 0.3s;
}
.info-badge-exit {
  transform: translateX(0);
  opacity: 1;
}
.info-badge-exit-active {
  opacity: 1;
  transform: translateX(80%);
  transition: opacity 0.4s, transform 0.3s;
}
